__pycache__
model_2.py
test_old.db
model_old.py
results.txt
0.0.7
model_v0.py
model_v1.py
model_v2.py
model_v2_1.py
model_v2.py
old_model_v2.txt
app_v2_1.py
dataset/
test_images/
README_imgs/
.vscode/
centroids.pickle